body {
  color: #333;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 600;
}

a {
  color: #f8f8ff;
  text-decoration: none;
}

p {
  color: #888;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 100;
  font-size: 10px;
  line-height: 1.8;
}

header {
  background-color: #333;
  height: 400px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
  clip-path: polygon(0 0, 100% 0, 2400px 100%, 0 90%);
}

h2 {
  margin: 0;
  color: rgb(51, 232, 165);
  font-family: cursive;
}

h3 {
  margin: 4px 0;
}

.button-active {
  background-color: rgb(51, 232, 165);
}

/** ---------------------------- NAV BAR **/
nav {
  padding: 20px 50px;
  text-transform: uppercase;
}

.nav-link {
  padding: 15px;
}

#nav-links {
  float: right;
  padding: 10px;
}

#nav-donate-button {
  border-radius: 5px;

}

#login-button {
  background: url('/assets/logout.svg');
  display: inline-block;
  width: 50px;
  height: 15px;
  background-size: 50px 15px;
  padding: 0 0 0 40px;
  background-repeat: no-repeat;
}

/** --------------------------------------- */
/** -------------------------- HEADER/HERO */
/** ------------------------------------- */
#hero-title {
  width: 325px;
  height: 100px;
  margin: 0 auto;
  margin-top: 68px;
  border: 1px solid aqua;
}

#hero-date {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  color: white;
}

#watch-live-button {
  display: block;
  width: 96px;
  height: 24px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 22px;
}

/** --------------------------------------- */
/** ------------------------------ WELCOME */
/** ------------------------------------- */
#welcome-section {
  max-width: 960px;
  border: 1px dotted #333;
  /* height: 400px; */
  margin: 0 auto;
}

#welcome-section:after {
  content: '';
  display: block;
  clear: both;
}

#raffle {
  width: 320px; 
  height: 112px;
  background-color: rgb(51, 232, 165);
}

#welcome {
  max-width: 480px;
  /* height: 96px; */
  border: 1px dotted #888;
  float: right;
}