body {
  color: #333
}

a {
  color: #f8f8ff;
}

header {
  background-color: #333;
  height: 400px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
  clip-path: polygon(0 0, 100% 0, 1600px 100%, 0 90%);
}

nav {
  padding: 20px 50px;
}

#nav-links {
  display: inline-block;
  float: right;
  padding: 10px;
}