/* ---------------------------- GLOBAL */

.container {
  max-width: 1316px;
  margin: 0 auto;
  padding: 0 42px;
}

body {
  color: #2E2E2D;
  font-family: 'Lato', sans-serif;
}

a {
  font-size: 12px;
  text-decoration: none;
}

p {
  color: #969CAA;
  font-size: 14px;
  line-height: 1.8;
  /* margin: 5px 0 0 0; */
}

h2 {
  margin: 0;
  color: #00B47A;
  font-family: cursive;
}

h3 {
  /* margin: 4px 0; */
  font-size: 35px;
  font-weight: 900;
}

h4 {
  margin: 0;
  font-size: 20px;
  font-weight: 900;
}

/* ----------------------------- BUTTONS */

.button {
  border-radius: 3px;
  text-align: center;
}

.button-active {
  background-color: #00B47A;
}

.button-inactive {
  background-color: rgb(37, 37, 80);
}

/* -------------------------------- TEXT */

.small {
  font-size: 12px;
}

.bold {
  font-weight: 700;
}

.black {
  font-weight: 900;
}

.light {
  color: #fff;
}

.dark {
  color: #2E2E2D;
}

.caps {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.center {
  text-align: center;
}

/** ---------------------------- NAV BAR **/
nav {
  padding: 49px 42px 0;
}

.nav-logo img {
  width: 172px;
  padding: 5px 0 0 0;
  background-repeat: no-repeat;
}

#nav-links {
  float: right;
}

.nav-link {
  display: inline-block;
  /* color: #fff; */
  /* font-size: 12px; */
  /* font-weight: 400; */
  padding: 17px 20px;
  text-align: center;
}

#nav-donate-button {
  padding: 14px 35px;
  margin: 0 20px;
}

#login-button {
  background: url('/assets/logout-icon.svg');
  background-repeat: no-repeat;
  display: inline-block;
  width: 16px;
  height: 18px;
  padding: 0 0 0 25px;
  line-height: 1.5;
}


/** ------------ HEADER/HERO ------------ */

/* TODO Is Header appropriate here, or would class/id='hero' be better? */
header {
  /* position: relative; */
  background: url('/assets/hero-image.png');
  background-repeat: no-repeat;
  background-size: 100%;
  /* background-position: 50% -35%; */
  /* background-color: #000; */
  padding: 0 0 200px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
  clip-path: polygon(0 0, 100% 0, 2400px 100%, 0 90%);
}

/* header:after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, .5);
} */

.header-logo {
  text-align: center;
  padding: 10% 0 0 0;
}

.header-logo-image {
  max-width: 100%;
  width: 40%;
}

#hero-date {
  display: block;
  margin: -20px auto 20px;
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 3px;
  color: white;
}

#watch-live-button {
  display: block;
  width: 183px;
  height: 54px;
  margin: 0 auto;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  letter-spacing: 2px;
  line-height: 3;
  -webkit-box-shadow: 0px 15px 27px -3px rgba(0,180,122,0.7);
  -moz-box-shadow: 0px 15px 27px -3px rgba(0,180,122,0.7);
  box-shadow: 0px 15px 27px -3px rgba(0,180,122,0.7);
}

/** ---------- WELCOME SECTION ---------- */

#welcome-section {
  max-width: 1316px;
  margin: -150px auto 0;
  position: relative;
  z-index: 1;
}

#welcome-section:after {
  content: '';
  display: block;
  clear: both;
}

/* ---------------------------- RAFFLE */

#raffle {
  width: 37%;
  background-color: #00B47A;
  padding: 25px;
}

#raffle:after {
  content: '';
  display: block;
  clear: both;
}

.raffle-column {
  position: relative;
  width: 50%;
  float: left;
  padding: 5px;
  box-sizing: border-box;
}

.raffle-column:first-child:after {
  position: absolute;
  content: '';
  width: 1px;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #10CC90;
  border-left: 1px solid #239A6B;
}

#raffle-button {
  display: block;
  margin: 10px 0 0 0;
  background-color: rgb(7, 7, 36);
  height: 30px;
  line-height: 2.8;
}

#raffle-counter {
  display: block;
  font-weight: 300;
  font-size: 60px;
}

.counter-label {
  margin: 0 10px;
}

/* -------------------- WELCOME MESSAGE */

#welcome {
  width: 55%;
  /* height: 96px; */
  /* border: 1px dotted #888; */
  float: right;
}

/** ---------- STAGE SECTION ---------- */

#stage-section {
  margin: 0 auto;
}

.stage-button {
  display: inline-block;
  letter-spacing: 1px;
  width: 151px;
  height: 40px;
  line-height: 3.5;
  margin: 10px 0;
}

#stage-nav {
  background-color: #00B47A;
  padding: 10px 20px;
}

#stage-section:after {
  content: '';
  display: block;
  clear: both;
}

#stage-header {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#view-schedule-button {
  float: right;
  line-height: 2;
}

.stage-column {
  width: 50%;
  height: 300px;
  float: left;
  box-sizing: border-box;
  /* border: 1px dotted purple; */
}

.video-container {
  background: url('/assets/austin-neill@2x.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

/* ----------------------- CHAT SECTION */

.chat-container {
  background-color: #969CAA;
  width: 100%;
  height: 100%;
}

/* ----------------------- DELIVERY SECTION */

.delivery {
  background-color: #F9F9FC;
  width: 980px;
  height: 366px;
  margin: 80px auto;
}
















